.container{
  width: 500px;
  margin: auto;
}

.banner{
  background-color: orange;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.total{
  font-size: 17pt;
}

.number{
  display: block;
  font-size: 30pt;
  padding-left: 20px;
}

.button{
  padding: 10px 20px;
  background-color: tomato;
  color: white;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}


.orange{
  color: orange;
}
.profile {
  position: relative;
  float: left;
  margin-right: 20px;
  width: 200px;
  border-radius: 1rem;
  margin-bottom: 20px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 11px 14px 7px -1px rgba(0,0,0,0.39);
  -webkit-box-shadow: 11px 14px 7px -1px rgba(0,0,0,0.39);
  -moz-box-shadow: 11px 14px 7px -1px rgba(0,0,0,0.39);
}

.img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new{
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: aquamarine;
  padding: 0.1rem 0.5rem;
  border-radius: 10px;
}